/node_modules/*

# 后端
/backend/__pycache__
/backend/.venv
/backend/data/WaterQualitybyDate/*
/backend/.env

/backend/data/水质数据/*
# 前端

# dependencies
/frontend/node_modules/*
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DSStore
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log
/frontend/yarn-debug.log
/frontend/yarn-error.log

/frontend/src/config.js